cloud.graphwiz.ai {
    reverse_proxy 127.0.0.1:9200
}

hubs.chemie-lernen.org {
    tls /etc/ssl/certs/hubs-chemie-lernen-org.crt /etc/ssl/certs/hubs-chemie-lernen-org.key
    reverse_proxy 172.27.0.1:4002 {
        header_up Host hubs.chemie-lernen.org
    }
}

editor.cloud.graphwiz.ai {
    reverse_proxy 127.0.0.1:8080
}
