services:
  xwiki:
    image: "xwiki:17.10.0-postgres-tomcat"
    container_name: xwiki-web
    depends_on:
      - xwiki-db
    ports:
      - "8081:8080"
    environment:
      - DB_USER=xwiki
      - DB_PASSWORD=xwiki
      - DB_DATABASE=xwiki
      - DB_HOST=xwiki-db
    volumes:
      - xwiki-data:/usr/local/xwiki
      - ./xwiki.cfg:/usr/local/tomcat/webapps/ROOT/WEB-INF/xwiki.cfg
  xwiki-db:
    image: "postgres:17"
    container_name: xwiki-db
    volumes:
      - xwiki-postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_ROOT_PASSWORD=xwiki
      - POSTGRES_PASSWORD=xwiki
      - POSTGRES_USER=xwiki
      - POSTGRES_DB=xwiki
      - POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale-provider=builtin --locale=C.UTF-8

networks:
  xwiki-network:

volumes:
  xwiki-data:
  xwiki-postgres-data:
