services:
    haproxy:
        container_name: haproxy
        environment:
            - CERT1=tobias-weiss.org,www.tobias-weiss.org,wiki.tobias-weiss.org,next.tobias-weiss.org
            - CERT2=graphwiz.ai,www.graphwiz.ai,graphwiz.de,www.graphwiz.de,traefik.graphwiz.ai,kg.graphwiz.ai
            - CERT3=chemie-lernen.org,www.chemie-lernen.org,hubs.chemie-lernen.org,wiki.chemie-lernen.org
            - EMAIL=spam@tobias-weiss.org
            - STAGING=false
        volumes:
            - "letsencrypt:/etc/letsencrypt"
            - "./haproxy/haproxy.cfg:/etc/haproxy/haproxy.cfg"
            - "./haproxy/certs.sh:/certs.sh"
        ports:
            - "80:80"
            - "443:443"
        image: "ghcr.io/tomdess/docker-haproxy-certbot:master"
        extra_hosts:
            - "host.docker.internal:host-gateway"
        depends_on:
            - rsyslog
    rsyslog:
        container_name: rsyslog
        environment:
            - TZ=UTC
        ports:
            - "514:514"
        image: "rsyslog/syslog_appliance_alpine"
networks:
    xwiki-network:
    mailcow-network:
    mozilla-hubs:

volumes:
    letsencrypt:
