services:
  db:
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD", "pg_isready"]
    image: "postgres:14-alpine"
    user: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - mozilla-hubs
  dialog:
    build:
      context: .
      dockerfile: dockerfiles/dialog.Dockerfile
    environment:
      AUTH_KEY: /etc/perms.pub.pem
      HTTPS_CERT_FULLCHAIN: /etc/ssl/fullchain.pem
      HTTPS_CERT_PRIVKEY: /etc/ssl/privkey.pem
      INTERACTIVE: "false"
      MEDIASOUP_MIN_PORT: 40000
      MEDIASOUP_MAX_PORT: 40050
      MEDIASOUP_ANNOUNCED_IP: ${PRIVATE_NETWORK_IP}
    ports:
      - "4443:4443"
      - "40000-40050:40000-40050"
      - "40000-40050:40000-40050/udp"
    volumes:
      - ./services/dialog:/code
  hubs-admin:
    build:
      context: .
      dockerfile: dockerfiles/hubs.Dockerfile
    command: /bin/sh -c "/usr/local/bin/conditional-npm-ci && npm run local"
    environment:
      INTERNAL_HOSTNAME: hubs-admin
      HOST: hubs.chemie-lernen.org
      RETICULUM_SOCKET_SERVER: hubs.chemie-lernen.org
      WDS_SOCKET_PORT: 443
      BASE_ASSETS_PATH: /admin/
      RETICULUM_SERVER: hubs.chemie-lernen.org
      UPLOADS_HOST: hubs.chemie-lernen.org
    ports:
      - "8989:8989"
    volumes:
      - ./services/hubs:/code
      - ./services/hubs/certs:/code/certs
    working_dir: /code/admin
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hubs-admin.rule=Host(`hubs.chemie-lernen.org`) && PathPrefix(`/admin`)"
      - "traefik.http.routers.hubs-admin.entrypoints=web"
      - "traefik.http.routers.hubs-admin.middlewares=https-redirect@file"
      - "traefik.http.routers.hubs-admin-secure.rule=Host(`hubs.chemie-lernen.org`) && PathPrefix(`/admin`)"
      - "traefik.http.routers.hubs-admin-secure.entrypoints=websecure"
      - "traefik.http.routers.hubs-admin-secure.tls=true"
      - "traefik.http.routers.hubs-admin-secure.tls.certresolver=mytlschallenge"
      - "traefik.http.routers.hubs-admin-secure.priority=100"
      - "traefik.http.services.hubs-admin.loadbalancer.server.port=8989"
    networks:
      - mozilla-hubs
      - web
  hubs-client:
    build:
      context: .
      dockerfile: dockerfiles/hubs.Dockerfile
    command: /bin/sh -c "/usr/local/bin/conditional-npm-ci && npm run local"
    environment:
      INTERNAL_HOSTNAME: hubs-client
      HOST: hubs.chemie-lernen.org
      RETICULUM_SOCKET_SERVER: hubs.chemie-lernen.org
      WDS_SOCKET_PORT: 443
      BASE_ASSETS_PATH: /
      RETICULUM_SERVER: hubs.chemie-lernen.org
      UPLOADS_HOST: hubs.chemie-lernen.org
    ports:
      - "8080:8080"
    volumes:
      - ./services/hubs:/code
      - ./services/hubs/certs:/code/certs
    working_dir: /code
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hubs-client.rule=Host(`hubs.chemie-lernen.org`)"
      - "traefik.http.routers.hubs-client.entrypoints=web"
      - "traefik.http.routers.hubs-client.middlewares=https-redirect@file"
      - "traefik.http.routers.hubs-client-secure.rule=Host(`hubs.chemie-lernen.org`)"
      - "traefik.http.routers.hubs-client-secure.entrypoints=websecure"
      - "traefik.http.routers.hubs-client-secure.tls=true"
      - "traefik.http.routers.hubs-client-secure.tls.certresolver=mytlschallenge"
      - "traefik.http.routers.hubs-client-secure.priority=10"
      - "traefik.http.services.hubs-client.loadbalancer.server.port=8080"
      - "traefik.http.services.hubs-client.loadbalancer.passHostHeader=false"
    networks:
      - mozilla-hubs
      - web
  hubs-storybook:
    build:
      context: .
      dockerfile: dockerfiles/hubs.Dockerfile
    command: npm run storybook
    ports:
      - "6006:6006"
    volumes:
      - ./services/hubs:/code
    working_dir: /code
  postgrest:
    build:
      context: .
      dockerfile: dockerfiles/postgrest.Dockerfile
    networks:
      - mozilla-hubs
  reticulum:
    container_name: reticulum
    build:
      context: ./services/reticulum
      dockerfile: TurkeyDockerfile
      target: dev
    environment:
      DB_CREDENTIALS: postgres
      DB_HOST: db
      DIALOG_HOSTNAME: "hubs.chemie-lernen.org"
      DIALOG_PORT: 4443
      HUBS_ADMIN_INTERNAL_HOSTNAME: "hubs.chemie-lernen.org"
      HUBS_CLIENT_INTERNAL_HOSTNAME: "hubs.chemie-lernen.org"
      POSTGREST_INTERNAL_HOSTNAME: postgrest
      SPOKE_INTERNAL_HOSTNAME: "hubs.chemie-lernen.org"
    depends_on:
      - db
    volumes:
      - ./services/reticulum:/code
      - letsencrypt:/code/certs
      - retstorage:/code/storage/dev
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hubs-reticulum.rule=Host(`hubs.chemie-lernen.org`) && PathPrefix(`/api`)"
      - "traefik.http.routers.hubs-reticulum.entrypoints=web"
      - "traefik.http.routers.hubs-reticulum.middlewares=https-redirect@file"
      - "traefik.http.routers.hubs-reticulum-secure.rule=Host(`hubs.chemie-lernen.org`) && PathPrefix(`/api`)"
      - "traefik.http.routers.hubs-reticulum-secure.entrypoints=websecure"
      - "traefik.http.routers.hubs-reticulum-secure.tls=true"
      - "traefik.http.routers.hubs-reticulum-secure.tls.certresolver=mytlschallenge"
      - "traefik.http.routers.hubs-reticulum-secure.priority=50"
      - "traefik.http.services.hubs-reticulum.loadbalancer.server.port=4000"
    networks:
      - mozilla-hubs
      - web
  spoke:
    build:
      context: .
      dockerfile: dockerfiles/spoke.Dockerfile
    environment:
      CORS_PROXY_SERVER: "hubs-proxy.chemie-lernen.org"
      INTERNAL_HOSTNAME: spoke
    ports:
      - "9090:9090"
    volumes:
      - ./services/spoke:/code

#   screenshot-service:
#     build:
#       context: ./screenshot-service
#       dockerfile: Dockerfile
#     environment:
#       TARGET_URL: "http://localhost:4000"
#       OUTPUT_FILE: "/output/screenshot.png"
#     ports:
#       - "3000:3000"
#     volumes:
#       - screenshot-output:/output
    depends_on:
      - reticulum

networks:
  mozilla-hubs:
  web:
    external: true
    name: hugo-sites_web

volumes:
  dialog:
  hubs:
  letsencrypt:
  pgdata:
  reticulum:
  retstorage:
  spoke:
  screenshot-output:
