services:
  haproxy:
      container_name: haproxy
      environment:
          - CERT1=hubs.chemie-lernen.org
          - CERT2=chemie-lernen.org
          - CERT3=graphwiz.ai
          - CERT4=next.tobias-weiss.org
          - CERT5=tobias-weiss.org
          - CERT6=www.tobias-weiss.org
          - CERT7=wiki.chemie-lernen.org
          - EMAIL=spam@tobias-weiss.org
          - STAGING=false
      volumes:
          - 'letsencrypt:/etc/letsencrypt'
          - './haproxy/haproxy.cfg:/etc/haproxy/haproxy.cfg'
          - './haproxy/certs.sh:/certs.sh'
      ports:
          - '80:80'
          - '443:443'
      image: 'ghcr.io/tomdess/docker-haproxy-certbot:master'
      depends_on:
          - rsyslog
  rsyslog:
      container_name: rsyslog
      environment:
          - TZ=UTC
      ports:
          - '514:514'
      image: 'rsyslog/syslog_appliance_alpine'

networks:
  default:
    name: mozilla-hubs

volumes:
  letsencrypt:
