[Unit]
Description=Docker Compose Application - Hubs Compose
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/git/hubs-compose
ExecStart=/opt/git/hubs-compose/bin/systemd-up
ExecStop=/opt/git/hubs-compose/bin/systemd-down

[Install]
WantedBy=multi-user.target
