html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

a {
    color: #8ff;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.element {
    width: 120px;
    height: 160px;
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;
    background: linear-gradient(to bottom right, rgba(0,100,100,0.6), rgba(0,50,50,0.6));
    transition: all 0.3s ease-in-out;
}

.element:hover {
    box-shadow: 0px 0px 20px aqua;
    border: 1px solid aqua;
    background: linear-gradient(to bottom right, rgba(0,150,150,0.8), rgba(0,75,75,0.8));
    transform: scale(1.05);
}

    .element .number {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 14px;
        color: rgba(127,255,255,0.85);
        font-weight: bold;
    }

    .element .symbol {
        position: absolute;
        top: 50px;
        left: 0px;
        right: 0px;
        font-size: 55px;
        font-weight: bold;
        color: white;
        text-shadow: 0 0 15px aqua;
    }

    .element .details {
        position: absolute;
        bottom: 10px;
        left: 0px;
        right: 0px;
        font-size: 13px;
        color: rgba(127,255,255,0.85);
    }

button {
    color: aqua;
    background: rgba(0,0,0,0.5);
    outline: 1px solid aqua;
    border: 0px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: aqua;
    color: #000;
    box-shadow: 0 0 15px aqua;
}

button:active {
    color: #000;
    background-color: #00ffff;
    box-shadow: 0 0 20px #00ffff;
}
